@import url(https://fonts.googleapis.com/css?family=Satisfy|Lato:300,700,300italic,700italic);

/* Global
-------------------------------------------------- */

/* Firechat Demo
-------------------------------------------------- */
#firechat-container {
  height: 475px;
  max-width: 100%;
  padding: 0px;
  border: none;
  background-color: #fff;
  margin: 0px 0px;
  text-align: center;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

#auth-modal {
  width: 30%;
  margin-left: -15%;
  left: 50%;
}

#user-info {
  display: block;
  margin-top: 10px;
}

#user-info a {
  color: #fff;
  text-decoration: underline;
}

/* Social Buttons
-------------------------------------------------- */
.social-container {
  padding: 10px 0;
  color: #5e5e5e;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}
.social-buttons {
  margin-top: 2px;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.social-buttons li {
  display: inline-block;
  padding: 6px 8px 5px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .sidenav {
    width: 258px;
  }
  .sidenav > li > a {
    width: 230px \9;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  .sidenav {
    top: 0;
    width: 218px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  .home-page #top-content {
    height: 925px;
  }
  .sidenav {
    width: 166px;
  }
  .sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    padding: 0;
  }
  .home-page #top-content {
    height: 975px;
  }
  .sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
  #docs-container {
    padding: 0 15px;
  }
  .bottom-content {
    padding: 0 15px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  body {
    padding: 0;
  }
  .home-page #top-content {
    height: 985px;
  }
  .header-links {
    text-align: center;
  }
  img.fork-on-github {
    display: none;
  }
  .sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
  #docs-container {
    padding: 0 15px;
  }
  .social-buttons li {
    padding: 6px 0px 5px;
  }
  .bottom-content {
    padding: 0 15px;
  }
}



